<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplicativo Cigarro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    
    <p> Digite a quantidade de cigarros fumados por dia: </p>
    <input type = "number" [(ngModel)]="quantidadeCigarros">

    <p> Digite a quantidade de anos fumados: </p>
    <input type = "number" [(ngModel)]="quantidadeAnos">

    <br>
    <br>

    <ion-button (click)="CalcularTempo()"> Enviar</ion-button>

    <h3> {{minutosPerdidos}} minutos</h3>
    <h3> {{horasPerdidas}} horas </h3>
    <h3> {{diasPerdidos}} dias</h3>
    <h3> {{mesesPerdidos}} meses</h3>
    <h3> {{anosPerdidos}} anos</h3> 


  </div>
  
</ion-content>


